<br>
<section>
    <%= link_to 'Cadastrar Novo', new_product_model_path %>
    <% if @product_models.any? %>
        <% @product_models.each do |pm| %>
            <div>
                <h3><%= link_to pm.name, pm %></h3>
                <strong>SKU</strong>: <%= pm.sku %> <br>
                <strong>Fornecedor</strong>: <%= pm.supplier.brand_name %> <br>
            </div>
        <% end %>
    <% else %>
        <p>Nenhum modelo de produto cadastrado</p>
    <% end %>
    <div>
        <%= link_to 'Voltar', root_path %>
    </div>
</section>