<br>
<section>
    <div>
        <h3><%= @product_model.name %></h3>
        <strong>Fornecedor</strong>: <%= @product_model.supplier.brand_name %> <br>
        <strong>SKU</strong>: <%= @product_model.sku %> <br>
        <strong>Dimensão</strong>: <%= @product_model.height %>cm x <%= @product_model.width %>cm x <%= @product_model.depth %>cm <br>
        <strong>Peso</strong>: <%= @product_model.weight %>g
    </div>
    <div>
        <%= link_to 'Voltar', product_models_path %>
    </div>
</section>
