<br>
<section>
    <h2>Detalhes do Pedido</h2>
    <h3><%= Order.model_name.human %></h3>
    <div>
        <%= Order.human_attribute_name(:code)%> <%= @order.code %> <br>
        <%= Order.human_attribute_name(:warehouse_id)%>: <%= @order.warehouse.full_description %> <br>
        <%= Order.human_attribute_name(:supplier_id)%>: <%= @order.supplier.corporate_name %> <br>
        <%= Order.human_attribute_name(:user_id)%> responsável: <%= @order.user.description %> <br>
        <%= Order.human_attribute_name(:estimated_delivery_date)%>: <%= I18n.localize @order.estimated_delivery_date %>

        <%= Order.human_attribute_name(:status) %>: <%= I18n.translate @order.status %>
    </div>
    <h3>Item de Pedido</h3>
    <div>
        <%= link_to 'Adicionar Item', new_order_order_item_path(order_id: @order.id) %>
        <% @order.order_items.each do |item| %>
            <%= item.quantity %> x <%= item.product_model.name %>
        <% end %>
    </div>
    <% if @order.pending? %>
        <%= button_to 'Marcar como ENTREGUE', delivered_order_path %>
        <%= button_to 'Marcar como CANCELADO', canceled_order_path %>
    <% end %>
    <%= link_to 'Editar', edit_order_path %>
</section>