<section class="hight">
    <h1>Galpão <%= @warehouse.code %></h1>
    <h3>Nome: <%= @warehouse.name %></h3>
    <div>
        <strong>Cidade:</strong> <%= @warehouse.city %> <br>
        <strong>Área:</strong> <%= @warehouse.area %> m2 <br>
        <strong>Endereço:</strong> <%= @warehouse.address %> <br>
        <strong>CEP:</strong> <%= @warehouse.cep %> <br>
        <strong>Descrição:</strong> <%= @warehouse.description %> <br>
    </div> <br>
    <%= link_to('Voltar', root_path)%>
</section>