
<h1>Galpão <%= @warehouse.code %></h1>

<h2>Nome: <%= @warehouse.name %><h2>
<div>
    Cidade: <%= @warehouse.city %>
    Área: <%= @warehouse.area %> m2
    Endereço: <%= @warehouse.address %>
    CEP: <%= @warehouse.cep %>
    <%= @warehouse.description %>
</div>
<%= link_to('Voltar', root_path)%>