<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Warehouse App" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "application" %>
  </head>

  <body>
    <header>
      <h1><%= link_to 'Galpões & Estoque', root_path %></h1>
      <nav>
        <%= link_to 'Fornecedores', suppliers_path %> | 
        <%= link_to 'Modelos de Produtos', product_models_path %> | 
        <%= link_to 'Registrar Pedido', new_order_path %>
        <% if user_signed_in? %>
          <br>
          <%= current_user.email %>
          <%= button_to 'Sair', destroy_user_session_path, method: :delete %>
        <% else %>
          <br>
          <%= link_to 'Entrar', new_user_session_path %>
        <% end %>
      </nav>
    </header>

    <main>
      <div>
        <%= alert %>
        <%= notice %>
      </div>
      <%= yield %>
    </main>

    <footer>
      <p>&copy;<a href="https://www.linkedin.com/in/marcos-grocha/" target="_blank"> marcos-grocha</a></p>
    </footer>
  </body>
</html>
